body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.title {
    flex-grow: 1;
    flex-basis: 0%;
    min-width: 15ch;
}

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.dropdown-button {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.dropdown-text {
    padding-left: 15vw;
    margin-bottom: 0;
    margin-right: 10px;
    position: static;
}

.dropdown-arrow {
    width: 35px;
    height: 35px;
}

.form-container {
    flex: 1;
    position: absolute;
    left: 0%;
    right: 0%;
    z-index: 999;
}

.textarea {
    min-height: 30vh;
    border-radius: 20px;
    overflow: visible;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    resize: none;
    overflow-y: scroll;
    overflow-wrap: normal;
}

.textarea:focus {
    border-color: #3898ec;
    outline: 0;
}

.submit-button {
    border-radius: 20px;
    text-align: left;

    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;

    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

.lineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.button-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.attracted-button { 
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    color: black;
    max-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.attracted-button.clickable {
    color: white;
    background-color: #3898ec;
    border-color: #3898ec;
    cursor: pointer;
}

.attracted-button.clickable.back {
    color: white;
    background-color: #f67f24;
    border-color: #f67f24;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: 20px;
    width: 20px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
    background-color: #eeeeee;
    -webkit-border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #666;
    border: 1px solid #151111;
    -webkit-border-radius: 16px;
}

::-webkit-scrollbar-corner { 
    background: transparent;
}